

<% if($("#btn-order").length === 0) {
    var ending = (quantity > 0 && quantity < 5) ? "піци" : "піц";
    var quantityStr = quantity + " " + ending;
    var displayStyle = "none";
} else {
    quantityStr = quantity;
    displayStyle = "inline-block"
}%>

<div class="order-template">
    <div class="pizza-title">
        <%= pizza.title %> (<%= sizeDisplay %>)
    </div>
    <div class="stats-block">
        <span class="pizza-stats">
            <img class="icon" src="assets/images/size-icon.svg">
            <span><%= pizza[size].size %></span>
        </span>
        <span class="pizza-stats">
            <img class="icon" src="assets/images/weight.svg">
            <span><%= pizza[size].weight %></span>
        </span>
    </div>
    <div class="amount-toggler-block">
        <span class="price"><%= pizza[size].price %> грн</span>
        <button type="button" class="btn btn-danger minus" style="display: <%=displayStyle %>">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        <span class="quantity"><%= quantityStr %></span>
        <button type="button" class="btn btn-success plus" style="display: <%=displayStyle %>">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button" class="btn btn-default remove" style="display: <%=displayStyle %>">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <img class="pizza-logo" src="<%= pizza.icon %>">
</div>